@font-face {
  font-family: "iconfont"; /* Project id 2741248 */
  src: url('iconfont.woff2?t=1629681905661') format('woff2'),
       url('iconfont.woff?t=1629681905661') format('woff'),
       url('iconfont.ttf?t=1629681905661') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shiliangzhinengduixiang1:before {
  content: "\e757";
}

.icon-zhixian:before {
  content: "\e619";
}

.icon-yuanquanjiantou-you:before {
  content: "\e60f";
}

.icon-tongzhi:before {
  content: "\e64d";
}

.icon-gantanhao:before {
  content: "\e645";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-qian:before {
  content: "\e61a";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-collec_selected:before {
  content: "\e604";
}

.icon-hongshizi:before {
  content: "\e770";
}

.icon-dianhua:before {
  content: "\e61b";
}

.icon-dizhi1:before {
  content: "\e6e6";
}

.icon-lajitong:before {
  content: "\e638";
}

.icon-bianji-copy:before {
  content: "\e601";
}

.icon-pingjia:before {
  content: "\e6c6";
}

.icon-renti:before {
  content: "\e688";
}

.icon-dianzibingli:before {
  content: "\e611";
}

.icon-jiuzhenrenguanli:before {
  content: "\e622";
}

.icon-jiankangdangan:before {
  content: "\e602";
}

.icon-feiyong:before {
  content: "\e664";
}

.icon-guahao:before {
  content: "\e60a";
}

.icon-center:before {
  content: "\e618";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-xinxi:before {
  content: "\e608";
}

.icon-jiankang:before {
  content: "\e663";
}

.icon-home:before {
  content: "\e623";
}

.icon-wode:before {
  content: "\e612";
}

.icon-paihangbang:before {
  content: "\e8b3";
}

.icon-xiangzi:before {
  content: "\e607";
}

.icon-dingwei:before {
  content: "\e8ae";
}

.icon-shaixuan:before {
  content: "\e8b6";
}

.icon-xiajiantou:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-fanhui:before {
  content: "\e624";
}

