barOfNextBtn()//智能导诊下一步按钮样式
  background-color: #D9001B
  color: #fff
  width 80px;
  text-align:center
grayBorder()//智能导诊一行样式
  line-height 35px
  font-family:'微软雅黑'
  font-size: 14px
  margin-left 15px
iconfontStyle()//智能导诊详情图标样式
  border-bottom 1px solid #d3d7d4
  line-height 40px
  font-size: 14px
  font-family: "iconfont" !important;
  color blue;
  margin-left:5px !important;
ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
